<div class="container">
  <div class="hero">
    <div class="hero__back hero__back--static"></div>
    <div class="hero__back hero__back--mover"></div>
    <div class="hero__front"></div>
  </div>
  <header class="codrops-header">
    <h1 class="codrops-title">Sagar Verma <span>3D Artist</span></h1>
    <!-- <nav class="menu">
      <a class="menu__item" href="#"><span>About</span></a>
      <a class="menu__item menu__item--current" href="#"><span>Work</span></a>
      <a class="menu__item" href="#"><span>Contact</span></a>
    </nav> -->
  </header>
  <div class="stack-slider">
    <div class="stacks-wrapper">
      <div class="stack">
        <h2 class="stack-title"><a href="#" data-text="Michael William Harnett"><span>Michael William Harnett</span></a></h2>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type2/1.jpg" alt="Image MWH 1" />
            <div class="item__details">
              <ul>
                <li><span>Image 1</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type2/2.jpg" alt="Image MWH 2" />
            <div class="item__details">
              <ul>
                <li><span>Image 2</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type2/3.jpg" alt="Image MWH 3" />
            <div class="item__details">
              <ul>
                <li><span>Image 3</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type2/4.jpg" alt="Image MWH 4" />
            <div class="item__details">
              <ul>
                <li><span>Image 4</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type2/5.jpg" alt="Image MWH 5" />
            <div class="item__details">
              <ul>
                <li><span>Image 5</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="stack">
        <h2 class="stack-title"><a href="#" data-text="Iron Man Helmet"><span>Iron Man Helmet</span></a></h2>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type3/1.jpg" alt="Image Iron Man Helmet 1" />
            <div class="item__details">
              <ul>
                <li><span>Image 1</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type3/2.jpg" alt="Image Iron Man Helmet 2" />
            <div class="item__details">
              <ul>
                <li><span>Image 2</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type3/3.jpg" alt="Image Iron Man Helmet 3" />
            <div class="item__details">
              <ul>
                <li><span>Image 3</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type3/4.jpg" alt="Image Iron Man Helmet 4" />
            <div class="item__details">
              <ul>
                <li><span>Image 4</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type3/5.jpg" alt="Image Iron Man Helmet 5" />
            <div class="item__details">
              <ul>
                <li><span>Image 5</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="stack">
        <h2 class="stack-title"><a href="#" data-text="Gas Cylinder"><span>Gas Cylinder</span></a></h2>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type1/1.jpg" alt="Image Cylinder 1" />
            <div class="item__details">
              <ul>
                <li><span>Image 1</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type1/2.jpg" alt="Image Cylinder 2" />
            <div class="item__details">
              <ul>
                <li><span>Image 2</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type1/3.jpg" alt="Image Cylinder 3" />
            <div class="item__details">
              <ul>
                <li><span>Image 3</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="stack">
        <h2 class="stack-title"><a href="#" data-text="Steampunk Gas Mask"><span>Steampunk Gas Mask</span></a></h2>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type4/1.jpg" alt="Image Steampunk 1" />
            <div class="item__details">
              <ul>
                <li><span>Image 1</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type4/2.jpg" alt="Image Steampunk 2" />
            <div class="item__details">
              <ul>
                <li><span>Image 2</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type4/3.jpg" alt="Image Steampunk 3" />
            <div class="item__details">
              <ul>
                <li><span>Image 3</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /stacks-wrapper -->
  </div>
  <!-- /stacks -->
  <img class="loader" src="assets/img/three-dots.svg" width="60" alt="Loader image" />
</div>