<div class="container">
  <div class="hero">
    <div class="hero__back hero__back--static"></div>
    <div class="hero__back hero__back--mover"></div>
    <div class="hero__front"></div>
  </div>
  <header class="codrops-header">
    <h1 class="codrops-title inc-font">Sagar Verma <span>3D Artist</span></h1>
    <!-- <nav class="menu">
      <a class="menu__item" href="#"><span>About</span></a>
      <a class="menu__item menu__item--current" href="#"><span>Work</span></a>
      <a class="menu__item" href="#"><span>Contact</span></a>
    </nav> -->
    <div class="contact">
      <span class="email">sagarverma3d@gmail.com</span>
      <span class="mobile">&nbsp; (+91-80946-09888)</span>
    </div>
  </header>
  <div class="stack-slider">
    <div class="stacks-wrapper">
      <div class="stack">
        <h2 class="stack-title arrow-gray"><a href="#" data-text="About Me"><span class="about">About Me</span></a></h2>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/aboutme.jpg" alt="About Me Image" />
            <p>
              Sagar, 3D Artist Here! Currently put up in Bangalore, India. A mechanical engineer by degree, Designer by profession. Passionate about digitally built 3D Artworks working dedicatedly in a AAA game developing industry.
            </p>
            <p>
              I'm certfied in digital modelling and texturing from "Frameboxx Animation and Visual effects studio", Jaipur.
            </p>
            <p>
              Got inspired to join gaming industry from latest games and animated movies followed by a prior experience of 3.5 years in structural steel design industry.
            </p>
            <p>
              I believe in a defined space filled with artistic blur expressed through digital rendors over language of words. 
            </p>
            <p>
              Have a moment to gaze into my unreal world?
            </p>
            <p>
              Thank you!
            </p>
          </div>
        </div>
      </div>
      <div class="stack">
        <h2 class="stack-title"><a href="#" data-text="Old Models"><span>Old Models</span></a></h2>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type2/1.jpg" alt="Image MWH 1" />
            <div class="item__details">
              <ul>
                <li><span>Old Models: Front</span></li>
                <li></li>
                <li>
                  <span>This is the 3d model of famous painting 
                  <a target="_blank" href="https://commons.wikimedia.org/wiki/File:William_Michael_Harnett_-_Old_Models_-_39.761_-_Museum_of_Fine_Arts.jpg">"Old Models"</a> 
                  of incredible artist "Michael William Harnett".</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type2/2.jpg" alt="Image MWH 2" />
            <div class="item__details">
              <ul>
                <li><span>Old Models: Right</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type2/3.jpg" alt="Image MWH 3" />
            <div class="item__details">
              <ul>
                <li><span>Old Models: Left</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type2/4.jpg" alt="Image MWH 4" />
            <div class="item__details">
              <ul>
                <li><span>Old Models: Close up</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type2/5.jpg" alt="Image MWH 5" />
            <div class="item__details">
              <ul>
                <li><span>Old Models: Gray Sclae (Mesh)</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="stack">
        <h2 class="stack-title"><a href="#" data-text="Iron Man Helmet"><span>Iron Man Helmet</span></a></h2>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type3/0.jpg" alt="Image Iron Man Helmet 1" />
            <div class="item__details">
              <ul>
                <li><span>Helmet: 3/4</span></li>
                <li></li>
                <li>
                  <span>
                    No need any description for this. 
                    Love you 3000!
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type3/1.jpg" alt="Image Iron Man Helmet 2" />
            <div class="item__details">
              <ul>
                <li><span>Helmet: Side L</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type3/2.jpg" alt="Image Iron Man Helmet 3" />
            <div class="item__details">
              <ul>
                <li><span>Helmet: Side R</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type3/3.jpg" alt="Image Iron Man Helmet 4" />
            <div class="item__details">
              <ul>
                <li><span>Helmet: Bott L</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type3/4.jpg" alt="Image Iron Man Helmet 5" />
            <div class="item__details">
              <ul>
                <li><span>Helmet: Bott R</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type3/5.jpg" alt="Image Iron Man Helmet 6" />
            <div class="item__details">
              <ul>
                <li><span>Helmet: Mesh Flow (Side R)</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="stack">
        <h2 class="stack-title"><a href="#" data-text="Gas Cylinder"><span>Gas Cylinder</span></a></h2>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type1/1.jpg" alt="Image Cylinder 1" />
            <div class="item__details">
              <ul>
                <li><span>Gas Cylinder: Close up</span></li>
                <li></li>
                <li><span>Domestic cooking cylinder of Bharat Gas agency which is very popular in India.</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type1/2.jpg" alt="Image Cylinder 2" />
            <div class="item__details">
              <ul>
                <li><span>Gas Cylinder: Side H</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type1/3.jpg" alt="Image Cylinder 3" />
            <div class="item__details">
              <ul>
                <li><span>Gas Cylinder: Side E</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="stack">
        <h2 class="stack-title"><a href="#" data-text="Steampunk Gas Mask"><span>Steampunk Gas Mask</span></a></h2>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type4/1.jpg" alt="Image Steampunk 1" />
            <div class="item__details">
              <ul>
                <li><span>The Punk: Front</span></li>
                <li></li>
                <li>
                  <span>Steampunk war gas mask is one of the designs by 
                    <a target="_blank" href="https://plaguedoctormasks.com/product/steampunk-war-gas-mask/">
                      "plague doctor masks"
                    </a>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type4/2.jpg" alt="Image Steampunk 2" />
            <div class="item__details">
              <ul>
                <li><span>The Punk: Side</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item__content">
            <img src="assets/img/type4/3.jpg" alt="Image Steampunk 3" />
            <div class="item__details">
              <ul>
                <li><span>The Punk: 3/4</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /stacks-wrapper -->
  </div>
  <!-- /stacks -->
  <img class="loader" src="assets/img/three-dots.svg" width="60" alt="Loader image" />
</div>